body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #394032;
    /* background-image: linear-gradient(to bottom left, rgba(36, 36, 195, .3), rgba(48, 209, 47, .5), rgba(239, 53, 35, 1));
    background-repeat: no-repeat; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: max-content;
    width: auto;
    color: whitesmoke;
}

.navbarbackground {
    background-image: linear-gradient(to right, #8DAB7F50, #CFEE9E);
    position: fixed;
    min-width: 100%;
    z-index: 5;
}

.navbarbackground a {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.navbarbackground a:hover {
    color: paleturquoise;
}

#nav {
    width: 100%;
}

/* .backgroundImage {
    position: absolute;
    font-size: 100vh;
    z-index: 0;
} */

#wrapper div {
    
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-color: #587B7F;
    overflow:visible;
    padding-bottom: 5vh;
}

#heading h1 {
    display:flex;
    font-size: 35vh;
    position: relative;
}

#heading h3 {
    display: flex;
    justify-self: center;
    position: relative;
}

#aboutMe {
    display: flex;
    justify-content: center;
    gap: 15vh;
    flex-direction: column;
    align-items: center;
    background-color: #394032;
    /* background-color:rgba(36, 36, 195, .7); */
    height: 100vh;
    padding-bottom: 5vh;
}

#aboutMe h1 {
    font-size: 15vh;
}

#aboutMe-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 5vh;
    font-size: 7vh;
    text-decoration: none;
    width: 100%;
}

a.downloadLink {
    text-decoration: none;
    color: gray;
}

#aboutMeText {
    align-self: center;
    width: 75%;
    color: whitesmoke;
    text-align: center;
    font-size: 3vh;
}

#projects {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    align-content: center;
    background-color: #587B7F;
    /* background-color:rgba(48, 209, 47, .5); */
    height: 100vh;
    width: 100%;
    padding-bottom: 20vh;
}

#projects h2 {
    font-size: 15vh;
}

.projectsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    grid-gap: 20vh;
    place-content: center;
}

#contactMe {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #394032;
    /* background-color: rgba(239, 53, 35, .5); */
    height: 100vh;
    padding-bottom: 25vh;
}

#contactMe h2 {
    font-size: 20vh;
}

.actualForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 2fr;
    gap: 3vh;
}

.label {
    justify-self: center;
}

.submitButton {
    grid-column: 1/3;
}

footer {
    display:flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 2vh;
    position:sticky;
}